{% extends "index.html" %} 
{% load static %} 
{% block content %}
{% include "includes/_navbar.html" %}
<div class="sidenav-content mt-3 container">
  <div class="side-nav-header">
    <div class="row">
      <!-- hesabım-left-side-başlangıç -->
        {% include "includes/_hesabim-left-side.html" %}

      <div class="col-lg-9 col-sm-12 right-side hessap">
        <!-- hesabım-nav-başlangıç -->

        <!--! ŞİFRE DEĞİŞTİR BAŞLANGIÇ  -->
        <form method="POST">
        {% csrf_token %}
          <div id="" class="sifreDegistir">
            <div class="row">
              <!-- mevcut-sifre -->
              <div class="col-lg-6 col-md-12 mb-5">
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control"
                    id="currentPassword"
                    placeholder="Mevcut Şifre"
                    name="mevcut-sifre"
                  />
                  <label for="currentPassword">Mevcut Şifre</label>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-lg-6 col-md-12 mb-5">
                    <div class="form-floating">
                    <!-- yeni-sifre -->
                      <input
                        type="password"
                        class="form-control"
                        id="newPassword"
                        placeholder="Yeni Şifre"
                        name="yeni-sifre"
                      />
                      <label for="newPassword">Yeni Şifre</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="form-floating">
                      <!-- yeni-sifre-tekrar -->
                      <input
                        type="password"
                        class="form-control"
                        id="confirmNewPassword"
                        placeholder="Yeni Şifre (Tekrar)"
                        name="yeni-sifre-tekrar"
                      />
                      <label for="confirmNewPassword"
                        >Yeni Şifre (Tekrar)</label
                      >
                      <p
                        class="error-message"
                        id="passwordMismatchError"
                        style="display: none"
                      >
                        Yeni şifreler uyuşmuyor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sifreOzellikleri">
              <p>
                <i class="requirement-icon fa-solid fa-circle-xmark fs-5"></i>
                Şifreniz en az 8 karakterden oluşmalıdır.
              </p>
              <p>
                <i class="requirement-icon fa-solid fa-circle-xmark fs-5"></i>
                Şifreniz en az bir harf içermelidir.
              </p>
              <p>
                <i class="requirement-icon fa-solid fa-circle-xmark fs-5"></i>
                Şifreniz en az bir rakam veya özel karakter içermelidir.
              </p>
            </div>

            <div class="col-12 guncelle">
              <button type="submit" class="btn btn-primary" id="updateButton">
                Güncelle
              </button>
            </div>
          </div>
        </form>
        <!--! ŞİFRE DEĞİŞTİR SON  -->
      </div>
    </div>
  </div>
</div>
{% endblock content %}
