{% extends "index.html" %}
{% load static %}
{% block content %}
{% include "includes/_navbar.html" %}

{% for i in kurs %}
{% if i.is_active %}
<div class="col-4">
    <div class="card p-0 rounded-0 m-0">
        <a href="{% url 'kurs-detay' i.slug %}">
            {% if i.resim %}
            <img src="{{i.resim.url}}" class="card-img-top rounded-0" width="80px" alt="...">
            {% else %}
            <img src="{% static 'img/html-img.jpg' %}" class="card-img-top rounded-0" width="80px"
                alt="...">
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{i.isim}}</p>
            </div>
        </a>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock content %}