{% load static %}
<div class="col-lg-3 d-none d-lg-block  left-side-profil">
    <div class="profil">
      <div class="avatar">
        <img class="avatarProfil " src="{% static './img/avatar.svg' %}" alt="Avatar">
        <div class="nameMessage">
          <div class="name"></div>
          <div class="welcome-message">Tekrar Hoşgeldiniz!</div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExampleHesabim">
      <div class="accordion-item hesabimAccordionItem">

        <div id="collapseOne" class="accordion-collapse collapse  biletlerimAl"
          data-bs-parent="#accordionExampleHesabim">
          <div class="accordion-body biletlerimBody biletContentIcerik hesabimAccordionBody">
          </div>
        </div>
      </div>
      <div class="accordion-item altkisimlar hesabimAccordionItem">
        <h2 class="accordion-header hesapAyarlariB d-flex">
          <i class="fa-solid fa-gear mt-3 ms-2 fs-4"></i>
          <button class="accordion-button collapsed-2 hesabimAccordionButton" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            Hesap Ayarları
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleHesabim">
          <div class="accordion-body hesabimAccordionBody">
            <div class="accordion-body hesabimAccordionBody">
              <a href="{% url 'hesabim-bilgi' %}" data-id="kisiselBilgilerimm" class="biletlerimEtkinlikHvr   ">Kişisel
                Bilgilerim</a>
              <a href="{% url 'hesabim-sifre' %}" data-id="sifreDegisikligii" class="biletlerimEtkinlikHvr ">Şifre
                Değişikliği</a>
              <a href="{% url 'hesabim-adres' %}" data-id="adreslerimm" class="biletlerimEtkinlikHvr ">Adreslerim</a>

            </div>
          </div>
        </div>
      </div>
      <div class="cikisYap">
        <a href="{% url 'cikis-yap' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>
          <span class="ms-2 fw-medium">Çıkış Yap</span>
        </a>
      </div>

    </div>
</div>