{% load static %}
<!-- !NAVBAR-START -->
<header class="container-fluid p-0 m-0">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg flex-wrap p-1">
        <div class="navbar-responsive d-flex justify-content-center align-items-center w-100">
            <!-- logo ve bar-menu -->
            <div class="ms-1 d-flex align-items-center navbar-logo">
                <i class="fa-solid fa-bars fs-2 me-3 d-none bar-menu" style="color: #ffffff"></i>
                <a href="/" class="navbar-brand" href="#"><img src="{% static './img/neoslogo.png' %}"
                        style="width: 100px;" alt="" /></a>
            </div>
            <div class="me-1 d-flex align-items-center navbar-content">
                <!-- link-grubu -->
                {% load mptt_tags %}
                <ul class="link-grubu navbar-nav me-1 mb-2 mb-lg-0">
                    {% recursetree kategori %}
                    <li class="nav-item">
                        <a class="nav-link active text-white link-grup " href="#" data-target="link-detay-{{node.isim}}"
                            onclick="linkMenu(this)">{{node.isim}}</a>
                    </li>
                    {% endrecursetree %}

                </ul>
                <!-- search-giriş yap ve eyes -->
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item me-4 navbar-search-item-1">
                        <form class="d-flex position-relative" role="search" method ="GET" action="{% url 'search'%}">
                            <input class="navbar-search" name="search" type="search" placeholder="Kurs arayın" aria-label="Search" />
                            <button class="position-absolute btn btn-outline-success navbar-search-buton"
                                type="submit"></button>
                        </form>
                    </li>
                    <li class="nav-item eye me-3 d-md-none">
                        <i id="navbar-eye" class="fa-solid fa-eye fs-3" style="color: #ffffff"></i>
                        <i id="navbar-xmark" class="fa-solid fa-xmark fs-3" style="color: #ffffff"></i>
                    </li>
                    {% if user.is_authenticated %}
                    <!-- hesabım -->
                    <li class="nav-item dropdown">
                        <a href="#" class="navbar-brand text-white m-0 fs-6" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Hesabım
                        </a>

                        <ul class="dropdown-menu position-absolute">
                            <li class="mb-2">
                                <a class="dropdown-item" href="{% url 'hesabim-bilgi' %}"><i class="fa-regular fa-user me-3"
                                        style="color: #bfbfbf"></i>Profil
                                </a>
                            </li>
                            <li class="mb-2">
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-house me-3"
                                        style="color: #bfbfbf"></i>Adreslerim</a>
                            </li>
                            <li class="mb-2">
                                <a class="dropdown-item" href="{% url 'cikis-yap' %}">
                                    <i class="fa-solid fa-arrow-right-from-bracket me-3"
                                        style="color: #bfbfbf"></i>Çıkış Yap
                                </a>
                            </li>
                        </ul>

                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="navbar-brand fs-6 text-white m-0 me-1" 
                        href="{% url 'hesap-olustur' %}">
                            <span>Giriş Yap/Kayıt Ol</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        {% include "includes/_mesaj.html" %}
                    </li>
                
                </ul>
            </div>
        </div>
        <!-- search-2 -->
        <div class="w-100 mt-2 mx-2">
            <ul class="navbar-nav d-flex justify-content-center align-items-center w-100">
                <li class="nav-item navbar-search-item-2 d-none w-100">
                    <form class="position-relative w-100" role="search">
                        <input class="navbar-search w-100" type="search"
                            placeholder="Etkinlik, sanatçı ya da mekan arayın" aria-label="Search" />
                        <button class="position-absolute btn btn-outline-success navbar-search-buton"
                            type="submit"></button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <!-- linkler-detay-->
    {% load mptt_tags %}
    {% recursetree kategori %}

    <div id="link-detay-{{node.isim}}" class="link-detay container-fluid p-0 m-0 bg-light shadow position-absolute z-3">
        <div class="container p-3">
            <div class="row p-2">
                <a class="col-3 me-5 border-bottom p-0 text-dark fw-bold"
                    href="{% url 'kategori-detay' node.slug %}">{{node.isim}}</a>
                {% if not node.is_leaf_node %}
                {% for child in node.get_children %}
                <a class="col-3 me-5 border-bottom p-0 text-dark"
                    href="{% url 'kategori-alt-detay' child.slug %}">{{child.isim}}</a>
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
    {% endrecursetree %}



</header>
<!-- !NAVBAR-END -->