/* !NAVBAR-START */
/*! navbar-ust */
/*navbarın üst kısım ile ilgili css kodları  */
.ust-nav{
    max-width: 956px  !important;
}
/*! navbar */
/* navbarda linklerin bulunduğu kısım */

.navbar{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        90deg,
        rgb(1, 80, 167),
        rgb(2, 108, 223),
        rgb(1, 80, 167)
    );;
    
}
.navbar-nav{
    flex-direction: row !important;
}
/**navbar-link-grubu  */
.link-grubu li:hover{
    background-color: #0151a8 !important;
}
/* .link-grup:after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    margin-left:-315px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
} */
/**navbar-search*/
.navbar-search{
    width: 300px !important;
    height: 40px !important;
    border: 1px solid white !important;
    border-radius: 5px !important;
    outline: none !important;
    background-color: #217bdd;
}
.navbar-search::placeholder {
    color: white !important;
    padding-left: 5px !important;
}
/**navbar-search-focus*/
/* navbar-search focus odluğunda bu özellikleri verdim */
.navbar-search:focus {
    background-color: white !important;
    transition: 0.3s;
}
.navbar-search:focus + .navbar-search-buton {
    background-image: url(../img/mag3.png) !important;
    background-color: #ffffff !important;
}
.navbar-search:focus + .navbar-search-buton:hover {
    background-image: url(../img/mag3w.png) !important;
    background-color: #009cde !important;
}
/** navbar-search-buton */
/* search kısmında bulunan loguyu konumladırdım */
.navbar-search-buton {
    background-image: url(../img/mag3w.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 64% !important;
    background-color:#217bdd!important;
    border: none !important;
    border-radius: 4px !important;
    height: 96% !important;
    width: 27px !important;
    top: 50% !important;
    right: -12px !important;
    transform: translate(-50%, -50%) !important;
}
.navbar-search-buton:hover {
    background-color: #009cde !important;
    cursor: pointer;
}

/** navbar-eye */
.navbar-eye{
    display: none !important;
}
#navbar-eye{
  cursor: pointer !important;

}
/** navbar xmark */
#navbar-xmark{
    display: none;
}
.navbar-xmark{
    display: block !important;
  cursor: pointer !important;

}

/*! navbar-kategori  */
/** navbarda kategori kısmı */
/* navbar içinde bulunan kategorilerin select uzunluğunu ayarladım */
.navbar-kategori-select select{
    width: 190px;
    border: 1px solid #abc3db !important;
    color: #2d4791 !important;
}
/* navbar-kategori içinde bulunana spanların rengini değiştirdim */
.navbar-kategori-select span{
    color: #2d4791;
    font-size: 12px;
}
/* !navbarlink-grup-detay */
/* link grubunun açılıp kapanması için gereken css */
.link-detay{
  display: none;
}
.link-detay a{
    font-size: 12px !important;
}
.link-detay a:hover{
    color: #1085b7 !important;
    text-decoration: underline !important;
}
.link-aktif{
    display: block;
}

/*! navbar-responsive ilk break-point */
@media screen and (max-width:1000px) {
    /* üst navbarın 2.ulsini ilk break pointte d-none yaptım */
    .ust-nav ul:nth-child(2){
        display: none !important;
    }
    .navbar-responsive{
        justify-content: space-between !important;
    }
    /* navbar içindeki link grubu */
    .navbar-content ul:first-child{
        display: none;
    }
    .navbar-content ul{
        margin: 0 !important;
    }
    /* bar-menu görünür oluyor*/
    .bar-menu{
        display: block !important;
        cursor: pointer;
    }
    .navbar-kategori-select ul li div i{
        margin: 0 !important;
        padding: 0 !important;
    }
    .navbar-kategori-select ul li {
        margin: 0 !important;
    }

    /* link detay */
    .link-detay{
      display: none !important;
    }
}

/* !ikinci break-point */
@media screen and (max-width:768px){
    /* elemanlar arasında boşluk bırakmak için between kullandım */
    .navbar-responsive{
        justify-content: space-between !important;
    }
    /* responsive olmadan önceki search */
    .navbar-search-item-1{
        display: none !important;
    }
    /* responsive olduktan sonraki search */
    .navbar-search-item-2{
        display: block !important;
    }

    /* giriş yap yazısını kayboluyor */
    .navbar-responsive span{
        display: none !important;
    }
    /* search'ün genişliği tüm divi kaplıyor */
    .navbar-search{
        width: 100% !important;
    }

    /**navbar-kategori */
    /* kategoriyi gizlemek ve column yapmak için kullandım */
    .navbar-kategori{
        display: none;
    }

    /* kategori responsive olduktan sonra column ile alt alta aldım */
    .navbar-kategori-responsive{
        flex-direction: column !important; 
        align-items: start !important;
        margin-top: 5px !important;

    }
    .navbar-kategori-select{
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
    .navbar-kategori-select ul{
        width: 100% !important;
        padding-bottom: 15px !important;
    }
    .navbar-kategori-select select{
        width: 100% !important;
        padding: 5px !important;

    }

    /* navbar-kategori içinde bulunana spanların rengini değiştirdim */
    .navbar-kategori-select span{
        display: none;
    }
}

/* !NAVBAR-END */


/** GİRİŞ YAP/HESAP OLUŞTUR START  **/
/* GİRİŞ YAP */

.full-height-giris {
    height: 100vh !important;
  }
  
  /* TOP SIDE */
  .hesabin-yokmu .hesap-olustur-button,
  .hesabin-varmi .hesap-olustur-button {
    border: 1px solid var(--light-blue);
    color: var(--bluebutton);
  }
  .hesabin-yokmu .hesap-olustur-button:hover,
  .hesabin-varmi .hesap-olustur-button:hover {
    border: 1px solid var(--light-blue);
    background-color: var(--grayish-white);
    color: var(--bluebutton);
  }
  
  /* LEFT SIDE */
  
  .logo-beyaz {
    position: absolute;
    top: 50px !important;
    left: 50px !important;
    z-index: 47 !important;
  }
  .logo-beyaz img {
    height: 80px !important;
  }
  /* carousel */
  .giris-slider {
    height: 100vh !important;
  }
  
  .giris-carousel {
    height: 100vh;
  }
  
  .giris-carousel .carousel-inner .carousel-item img {
    background-size: cover !important;
    height: 100vh !important;
  }
  
  .giris-left-side {
    background-color: var(--dark-blue);
  }
  
  .full-height-giris > .col-lg-6 {
    padding: 0 !important;
  }
  
  .giris-carousel .carousel-indicators button {
    height: 8px !important;
    width: 8px !important;
    border-radius: 100%;
    background-color: transparent !important;
  }
  
  .giris-indicators button.active {
    background-color: var(--bluebutton2) !important;
  }
  .giris-carousel .carousel-caption {
    position: absolute !important;
    bottom: 90px !important;
    z-index: 999999 !important;
    opacity: 1 !important;
    color: var(--white) !important;
    left: 30px !important;
  }
  .giris-carousel .carousel-caption h2 {
    font-size: 22px !important;
    font-weight: 600 !important;
  }
  
  .giris-carousel .carousel-caption h3 {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  /* carousel end */
  
  /* RIGHT SIDE */
  /* logo */
  
  .logo-blue {
    display: none;
    position: relative;
    top: 10px;
    left: 50px;
    height: 80px;
  }
  @media (max-width: 1281px) {
    .logo-blue {
      display: inline-block;
      left: 20px;
      top: 0px;
      height: 50px;
    }
  }
  
  .giris-right-side {
    height: 100vh !important;
  }
  
  /* Form Container */
  
  .giris-form-container {
    width: 310px !important;
    top: 50% !important;
  }
  @media (max-width: 768px) {
    .giris-form-container {
      width: 100% !important;
      padding: 0 10px !important;
    }
  }
  
  .giris-form {
    border-color: var(--light-gray2);
    color: var(--font-gray);
  }
  
  .giris-yap-btn {
    color: var(--white) !important;
    background-color: var(--bluebutton) !important;
  }
  
  /* GİRİŞ YAP END */
  
  /* HESAP OLUSTUR */
  .hesapolustur-form-container {
    width: 90% !important;
    margin: 0 50px !important;
  }
  
  .sifre-icon {
    position: absolute;
    left: 90%;
    top: 33%;
    height: 20px;
    width: 20px;
    color: var(--bluebutton) !important;
  }
  
  @media (max-width: 575px) {
    .hesapolustur-form-container {
      width: 100% !important;
      padding: 0 10px !important;
    }
    #hesapolustur-btn {
      width: 100% !important;
    }
  }
  
  /* MODAL */
  
  #hesap-modal {
    width: 95% !important;
    overflow: auto;
    border-radius: 4px !important;
  }
  
  .hesap-modal-dialog {
    max-width: 1220px !important;
    height: 100% !important;
    border: none !important;
  }
  
  .modal-content {
    height: 75% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none !important;
    border-radius: 4px !important;
    padding: 24px !important;
  }
  
  @media (max-width: 1200px) {
    .hesap-modal-dialog {
      max-width: 100% !important;
      border: none !important;
      padding: 0;
      margin: 0 !important;
    }
  }
  
  .hesap-modal-body p {
    font-size: 13px !important;
  }
  
  .hesap-olustur-table * {
    font-size: 13px !important;
    padding: 0 !important;
    font-weight: normal !important;
  }
  
  .hesap-list {
    margin: 5px;
    counter-reset: custom-counter;
    list-style: none;
    padding-left: 0 !important;
  }
  
  .hesap-list li {
    counter-increment: custom-counter;
    margin-bottom: 10px;
  }
  
  .hesap-list li::before {
    content: counter(custom-counter, lower-alpha) ")";
  }
  
  .modal-buttons button {
    color: var(--bluebutton);
    font-weight: bold;
  }
  
  .select-canim {
    color: #036cde !important;
  }
  
  /* HESAP OLUSTUR END */
  
  /** GİRİŞ YAP/HESAP OLUŞTUR END  **/