{% extends "index.html" %}
{% load static %}
{% block content %}
{% include "includes/_navbar.html" %}
<div class="sidenav-content mt-3 container">
  <div class="side-nav-header">
    <div class="row">
      <!-- left-side -->
      {% include "includes/_hesabim-left-side.html" %}

      <div class="col-lg-9 col-sm-12 right-side hessap">
        <!-- nav -->

        <!--! Adreslerim BAŞLANGIÇ  -->
        <form method="POST">
          {% csrf_token %}
          <div id="adreslerimm" class="adreslerim pt-4">
            <div class="s d-flex gap-3">
              <div class="col-lg-6 col-md-12">
                <h4 class="adresBasi w-100">Teslimat Adresleri</h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-bg w-100" data-bs-toggle="modal" data-bs-target="#teslimatModal">
                  <span class="aciklamas">+ Yeni Adres Ekle</span>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="teslimatModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header b-">
                        <h5 class="modal-title" id="exampleModalLabel-2">
                          Yeni Adres Ekle
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <span class="ms-3">Adres Bilgileri</span>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-6 mb-3">
                            <div class="form-floating">
                              <!-- ülke -->
                              <input class="form-control" type="text" name="ulke" id="">

                              <label for="countryInput">ÜLKE</label>
                            </div>
                          </div>
                          <div class="col-6 mb-3">
                            <!-- sehir -->
                            <div class="form-floating">
                              <input class="form-control" type="text" name="sehir" id="">
                              <label for="countryInput">İL</label>
                            </div>
                          </div>
                          <div class="col-12 mb-3">
                            <div class="form-floating">
                              <!-- ilçe -->
                              <input type="text" class="form-control" id="floatingPassword" placeholder="İlçe"
                                name="ilce" />
                              <label for="floatingPassword">İlçe</label>
                            </div>
                          </div>
                          <div class="col-12 mb-3">
                            <div class="form-floating">
                              <!-- acik-adres -->
                              <input type="text" class="form-control" id="floatingPassword" placeholder="Adress"
                                name="acik-adres" />
                              <label for="floatingPassword">Adress</label>
                            </div>
                          </div>
                          <div class="col-12 mb-4">
                            <div class="form-floating">
                              <!-- adres-baslik -->
                              <input type="text" class="form-control" id="floatingPassword"
                                placeholder="Bu adrese bir ad verin" name="adres-baslik" />
                              <label for="floatingPassword">Bu adrese bir ad verin</label>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="modal-footer w-100">
                        <button type="submit" class="btn btn-primary w-100">
                          Kaydet
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </form>
        <!-- adres -->
        {% for i in adres %}  
        {% if request.user.adres%}
        <div class="d-flex">
          <div class="col-lg-6 col-md-12 border border-1 mt-5 p-3">
            <div class="d-flex justify-content-start">
              <div class="mx-2">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="mx-2">

                <h3>{{i.adres_baslik}}</h3>
                <div>
                  <p>{{i.acik_adres}}, {{i.ilce}}, {{i.sehir}},{{i.ulke}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <!--! Adreslerim SON  -->
    </div>
  </div>
</div>
</div>
{% endblock content %}